.Hero {
    display:flex;
    justify-content:center;
    align-items:center;
    height:270px;
    background-color: #121212;
    font-weight: 600;
    font-family: Poppins;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0px;

}
.textsection{
    color: #FFFFFF;
}